@import url('https://fonts.googleapis.com/css?family=Open+Sans:400i,600,700,800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

nav{
  width: 100%;
  height:10%;
  display: table;
}

header{
  width: 100%;
  height:5%;
  display: table;
}

section{
  width: 100%;
  height:80%;
  text-align: center;
}
#인적사항{
  height:100%;
}
footer{
  width: 100%;
  height: 5%;
  background-color: rgb(0, 0, 68);
  color: white;
  text-align: right;
  font-size: small;
}

h2{
  text-shadow: 0 0 3px red, 0 0 10px blue;
}

#title {
  text-align: center;
  width: 50%;
  font-size: 30px;
  background-color:rgb(35, 27, 75);
  border-radius: 5px;
  color: white;
  vertical-align: middle;
  display:table-cell;
  
}

#body {
  width: 100%;
  height: 100%;

  background-color: cornsilk;
  padding: 25px;
  margin: navy;
  border: 15px solid navy;
  font-size: 15px;
}
/*margin - border - padding*/

#body >ul{
  height:90%;
}

#body >li{
  height:10%;
}

#navbar{
  width: 50%;
  height: 100%;
  display:table-cell;
  vertical-align: middle;
  text-align: center;
}

#navbar >ul{
    margin: 0;
    background: #1b1b1b;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    vertical-align: middle;
    text-align: center;
  }
#navbar >li{
  display: inline-block;
}

#project {
  
}

iframe {
  width: 50%;
  height:  500px;
  position: relative;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  float: left;
  
  
}

#body >ul{
  font: initial;
}

#study {
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
  vertical-align: middle;
  row-gap: 5%;
  column-gap: 5%;
  align-items: center;
  font-weight: bold;
}

#study > img{
  display: block;
  margin: 0px auto;
  margin-top: auto;
  margin-bottom: auto;
  border: 5px solid;
  border-radius: 5px;
  background-color: black;
  
}

#study > img:hover{
  filter: grayscale(70%);
  text-overflow: clip;
}

a:link { color: white; text-decoration: none;}
a:visited { color: white; text-decoration: none;}

 #intro {
    position: absolute;
    width: 83%;
    height: 5%;
    color:white;
    animation-name: move,fadeOut, changeColor;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    border-radius: 10px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    animation-direction: alternate;
    
 }


 

  #학력 >table,th,td {
    border: 3px solid rgb(22, 3, 15);
    border-collapse: collapse;
  }
  table{
    margin-left: auto;
    margin-right: auto;
  }
  th, td {
    padding: 15px;
  }
  th{
    background-color: rgb(98, 250, 255);
  }

#인적사항{
  background-color: rgb(255, 247, 177);
  color: darkblue;
}

 
 @keyframes move {

  0%   { left: 0; }
  50%  { left: 8%; }
  100% { left: 16%; }
  /*
  from {
    left: -30%;
  }
  
  to {
    left: 130%;
  }
  */
}

@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}
@keyframes changeColor {
  from { background-color: rgb(2, 66, 11); }
  to   { background-color: blue; }
}

